*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0074FF;
    background-color: #343434;
    min-height: 100vh;
    line-height: 1.5;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: -5%;
}

nav a {
    display: flex;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    transition:color 0.2s ease;
}

nav a:hover{
    color: #3f96ff;
}


.container{

}