*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: #f5f5f5;
    background-color: #343434;
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
    justify-content: right;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: -5%;
}

nav a {
    display: flex;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    transition:color 0.2s ease;
    color: #0074FF;
}

nav a:hover{
    color: #3f96ff;
}


.main{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.container-col{
    background-color: #454545;
    border-radius: 30px;
    border: #555555;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    justify-content: center;
    color: #F5F5F5;
    padding: 70px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);;
    transition: all 250ms ease;
}

.container-col:hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);;
    padding: 77px;
}


.container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: relative;
    place-items: center;
    height: 3rem;
    width: 400px;
}

.button{
    font-family: "Barlow", sans-serif;
    font-size: 400;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    display: inline-flex;
    font-size: 20px;
    border-radius: 120px;
    text-decoration: none;
    justify-content: center;
    color: #0074FF;
    border: #555555 2px;
    transition: all 250ms ease;
    background-color: #454545;
}

.button:hover{
    font-size: 24px;
}

.input{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    border: 2px solid #555555;
    border-radius: 0.5rem;
    font-size: 20px;
    outline: none;
    color: #F5F5F5;
    background: none;
    transition: all 160ms ease-in;
    padding-left: 1rem;
}

.input:hover{
    border-color: #0074FF;
}

.input:focus{
    border-color: #0074FF;
}

.label{
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    cursor: text;
    user-select: none;
    padding: 0 0.5rem;
    transition: top 200ms 
    ease-in, left 200ms ease-in 
    font-size 200ms ease-in;
    pointer-events: none;
    background-color: #454545;
}

.input:focus ~ .label, .input:not(:placeholder-shown).input:not(:focus) ~ .label{
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.bouttons-accueil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
}


.button-accueil{
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    padding: 15px 20px;
    display: inline-flex;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    justify-content: center;
    transition: all 250ms ease;
    color: #A0C4FF;
    border: 2px solid #A0C4FF;
    background-color: transparent;
}

.button-accueil:hover{
    background-color: #A0C4FF;
    color: #343434;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
}
